.topDiv {
  background-color: black;
  min-height: 100%;
  min-width: 100%;
}
.fontWhite {
  color: white;
}
.headerDiv {
  display: inline-block;
}
.midDiv {
  min-height: 100%;
  margin: 100px;
  padding-right: 100px;
  padding-left: 100px;
}
.bottomDiv {
  min-height: 100%;
  min-width: 100%;
  margin-top: 100px;
  padding-top: 100px;
  background-color: black;
}
.description {
  text-align: center;
  min-width: 100%;
  font-size: 20px;
}
#mg {
  display: inline-block;
  min-height: 100%;
  min-width: 70%;
}
